---
const {proyectos} = Astro.props;
import Impactos from "./Tarjetas/TarjetaImpacto.astro";
import Container from "./Container.astro";
import BotonPrimario from "./BotonPrimario.astro";
import { Image } from "astro:assets";
import imagenTraductores from "../assets/imagenPrincipal4.png";
import { PackageOpen } from "@lucide/astro"; 
const porcentaje=Math.round((proyectos.nuevoTestamento.reduce((total, libro) => total + libro.progreso, 0) + proyectos.antiguoTestamento.reduce((total, libro) => total + libro.progreso, 0))/ (proyectos.nuevoTestamento.length + proyectos.antiguoTestamento.length));
---


<section>
  <Container>
    <div class="flex flex-col md:flex-row gap-12">
      <div class="flex md:w-100">
        <div
          class="w-full pt-100% h-80 md:h-auto grow rounded-2xl bg-top bg-cover bg-[url('../assets/traductores.png')]"
        >
        </div>
      </div>
      <div class="space-y-4">
        <div class="inline-flex gap-2 items-baseline">
          <div>
            <div
              class="mt-1 text-blue-800 bg-blue-200 h-9 w-9 rounded-full flex justify-center items-center"
            >
              <PackageOpen size="20" />
            </div>
          </div>
          <h2 class="font-bold text-2xl">
            Paquetes de traducción para la iglesia nativa
          </h2>
        </div>
        <div class="text-gray-700 text-lg max-w-2xl">
          <p>
            El proyecto principal de Idiomas Puentes es la producción de
            recursos abiertos que sirvan a la iglesia nativa para traducir la
            palabra de Dios con excelencia en un lenguaje claro y natural.
          </p>
          <p>
            Estos recursos son distribuidos en forma de paquetes de traducción
            para cada libro de la Biblia. Cada paquete contiene un diccionario
            de términos claves, un manual de traducción, notas al traductor,
            preguntas de comprobación y el texto bíblico del libro en sus formas
            literal y simplificada.
          </p>
        </div>
        <BotonPrimario href="/Recursos" class="mt-8 py-2 px-4">
          <span class="mb-1">Conoce mas sobre estos recursos</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 ml-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
          </svg>
        </BotonPrimario>
      </div>
    </div>
  </Container>
  <Container>
    <div class="space-y-8 flex flex-col justify-center items-center mb-12">
      <div
        class="relative bg-white py-12 px-4 sm:px-6 lg:px-8 shadow-[0_0_6px_0_rgba(0,0,0,0.15)] rounded-2xl"
      >
        <div class="container mx-auto text-center space-y-4">
          <h2 class="text-2xl font-bold text-gray-800 mb-8">
            Progreso General del Proyecto
          </h2>
          <div
            class="justify-center gap-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3"
          >
            <div
              class="flex flex-col bg-green-50 p-4 rounded-lg shadow-md text-center space-y-2 border border-green-200"
            >
              <span class="text-3xl font-bold text-green-600">4</span>
              <span class="text-green-600">Paquetes completados</span>
            </div>
            <div
              class="flex flex-col bg-teal-50 p-4 rounded-lg shadow-md text-center space-y-2 border border-teal-200"
            >
              <span class="text-3xl font-bold text-teal-600">3</span>
              <span class="text-teal-600">Paquetes en progreso</span>
            </div>
            <div
              class="flex flex-col bg-gray-50 p-4 rounded-lg shadow-md text-center space-y-2 border border-gray-200"
            >
              <span class="text-3xl font-bold text-gray-600">59</span>
              <span class="text-gray-600">Paquetes sin iniciar</span>
            </div>
          </div>
          <div
            class="bg-blue-50 p-4 rounded-lg shadow-md text- space-y-2 border border-blue-200 mt-10 py-6"
          >
            <div class="flex justify-between">
              <span class="text-blue-600 text-lg">Total completado</span>
              <span class="text-2xl font-bold text-blue-600">{porcentaje}%</span>
            </div>

            <div class="mt-2">
              <div class="w-full bg-gray-200 rounded-full h-4">
                <div
                  class="h-4 bg-gradient-to-r from-blue-500 to-indigo-600 rounded-full transition-all duration-1000"
                  style={`width: ${porcentaje}%;`}
                >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Container>
</section>
