---
import { Book } from "@lucide/astro";
---

<section>
  <div
    class="min-h-screen bg-gradient-to-r from-blue-100 to-blue-300 flex flex-col items-center justify-center text-center space-y-8 px-4"
  >
    <div class="bg-blue-400 rounded-full p-4 text-white">
      <Book size="35" />
    </div>
    <span class="font-bold text-6xl">Historias</span>
    <p class="text-xl text-gray-700">
      Testimonios reales del impacto transformador de la traducción bíblica en
      comunidades indígenas
    </p>
  </div>
</section>
