---
import { Heart } from "@lucide/astro";
import { HeartHandshake } from "@lucide/astro";
---

<section
  class="bg-gradient-to-r from-blue-200 to-blue-400 min-h-screen flex flex-col items-center justify-center text-center space-y-4"
>
  <div class="bg-blue-600 p-4 rounded-full text-white mb-8">
    <HeartHandshake size="35" />
  </div>
  <h2 class="space-x-2">
    <span class="text-5xl font-bold">¿Cómo puedes</span>
    <span class="text-5xl font-bold text-blue-600 pb-8">formar parte?</span>
  </h2>
  <p class="text-xl text-gray-600 max-w-2xl md:p-6 p-4">
    Únete a nosotros en esta misión de llevar la palabra de Dios a cada pueblo
    en su idioma de corazón
  </p>
</section>
