---
import { Book } from "@lucide/astro";
import { LaptopMinimalCheck } from "@lucide/astro";
---

<section>
  <div
    class="min-h-screen bg-gradient-to-r from-blue-300 to-blue-500 flex flex-col items-center justify-center text-center space-y-8"
  >
    <div class="bg-blue-500 rounded-full p-4 text-white">
      <LaptopMinimalCheck size="35" />
    </div>
    <span class="font-bold text-6xl">Contáctanos</span>
    <p class="text-xl text-gray-700">
      Nos encantaría saber de ti. Envíanos un mensaje y te responderemos pronto
    </p>
  </div>
</section>
