---
import Proyecto from "./Tarjetas/TarjetaProyectos.astro";
import { Image } from "astro:assets";
import Grupal1 from "../assets/Grupal1.jpeg";
import Grupal0 from "../assets/Grupal0.jpeg";
---

<section class="relative bg-white py-16 px-4 sm:px-6 lg:px-8">
  <div class="container mx-auto text-center">
    <h2 class="text-4xl font-serif font-bold text-gray-800 mt-8">
      Nuestros Proyectos
    </h2>
    <div class="bg-secondary w-24 h-1.5 mx-auto mt-4 mb-12 rounded-full"></div>
    <p class="text-lg mx-auto mb-16 text-gray-800 max-w-3xl">
      Traducimos al español y portugués recursos bíblicos diseñados para
      garantizar que la Palabra de Dios sea traducida con fidelidad, claridad y
      precisión.
    </p>

    <div
      class="grid grid-cols-1 md:grid-cols-2 justify-items-center gap-8 max-w-6xl mx-auto"
    >
      <Proyecto
        titulo="Traducción al idioma puente español"
        progreso="Progreso de traducción"
        porcentaje="6%"
        descripcion="Una iniciativa que traduce paquetes de recursos de traducción para cada libro de la Biblia, destinada a abrir nuevas puertas al acceso de la Palabra de Dios para más de 55 millones de personas indígenas en Latinoamérica."
        conoce="Conoce más sobre este proyecto"
        imagen={Grupal1}
      />

      <Proyecto
        titulo="Historias Bíblicas Abiertas en español"
        progreso="Progreso de traducción"
        porcentaje="100%"
        descripcion="Este recurso reúne relatos claves de la Biblia, desde la creación hasta el Apocalipsis, y ya está en manos de dos comunidades indígenas de Latinoamérica como herramienta para la evangelización y el discipulado."
        conoce="Conoce más sobre este proyecto"
        imagen={Grupal0}
      />
    </div>

    <div class="mt-20 text-center">
      <a
        href="/Proyectos"
        class="inline-flex bg-blue-800 hover:bg-blue-900 items-center justify-center text-white font-semibold py-4 px-8 rounded-xl transition-all duration-200 transform hover:scale-105 hover:shadow-lg"
      >
        Ver Todos los Proyectos
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 ml-2 mt-1"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
        </svg>
      </a>
    </div>
  </div>
</section>
